cfitsio/cfitsio.pc
cfitsio/libcfitsio.so*
cfitsio/libcfitsio.2.3.37.dylib
cfitsio/libcfitsio.2.dylib
cfitsio/libcfitsio.dylib
fftw/api/fftw3.f03
fftw/config.h
fftw/config.h.in
fftw/fftw.pc
fftw/fftw3.pc
fftw/mpi/fftw3-mpi.f03
fftw/mpi/fftw3l-mpi.f03
fftw/tests/bench
fftw/tools/fftw-wisdom
fftw/tools/fftw-wisdom-to-conf
fftw/tools/fftw-wisdom.1
fftw/tools/fftw_wisdom.1
fftw/ltmain.sh
fftw/m4/libtool.m4
fftw/m4/ltoptions.m4
fftw/m4/ltversion.m4
fftw/INSTALL
fftw/compile
fftw/config.guess
fftw/config.sub
fftw/depcomp
fftw/install-sh
fftw/missing
fftw/FFTW3Config.cmake
fftw/FFTW3ConfigVersion.cmake
wcslib/C/fitshdr.c
wcslib/C/libwcs.so*
wcslib/C/libwcs.so
wcslib/C/wcsbth.c
wcslib/C/wcspih.c
wcslib/C/wcsulex.c
wcslib/C/wcsutrn.c
wcslib/makedefs
wcslib/wcsconfig.h
wcslib/wcsconfig.h.in
wcslib/wcsconfig_f77.h
wcslib/wcsconfig_tests.h
wcslib/wcslib.pc
wcslib/utils/fitshdr
wcslib/utils/HPXcvt
wcslib/utils/wcsware
wcslib/pgsbox/libpgsbox.so*
wcslib/wcsconfig_utils.h
wcslib/C/libwcs.*.dylib
wcslib/C/libwcs.dylib
