cfitsio/cfitsio.pc
cfitsio/libcfitsio.so*
fftw/doc/html/*
fftw/doc/stamp-vti
fftw/doc/version.texi
fftw/doc/fftw3.info
fftw/doc/fftw3.info-1
fftw/doc/fftw3.info-2
fftw/api/fftw3.f03
fftw/doc/version
fftw/config.h.in
fftw/fftw.pc
fftw/fftw3.pc
fftw/mpi/fftw3-mpi.f03
fftw/mpi/fftw3l-mpi.f03
fftw/tests/bench
fftw/tools/fftw-wisdom
fftw/tools/fftw-wisdom-to-conf
fftw/tools/fftw-wisdom.1
fftw/tools/fftw_wisdom.1
wcslib/C/fitshdr.c
wcslib/C/libwcs.so*
wcslib/C/libwcs.so
wcslib/C/wcsbth.c
wcslib/C/wcspih.c
wcslib/C/wcsulex.c
wcslib/C/wcsutrn.c
wcslib/makedefs
wcslib/wcsconfig.h
wcslib/wcsconfig.h.in
wcslib/wcsconfig_f77.h
wcslib/wcsconfig_tests.h
wcslib/wcslib.pc
wcslib/utils/fitshdr