simput*.tar.gz
*~
*.o
*.a
*.la
*.lo
*.swp
*.swo
*.mod
aclocal.m4
autom4te.cache
simputconfig.h
simputconfig.h.in
config.log
config.status
config.guess
config.sub
config.h
config.h.in
libtool
stamp-h1
configure
Makefile
Makefile.in
doc
.deps
.libs
labnh.fit
.DS_Store
.project
*.log
.autotools
.cproject
.settings
