simput*.tar.gz
*~
*.o
*.a
*.la
*.lo
*.swp
*.swo
*.mod
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
libtool
stamp-h1
depcomp
install-sh
ltmain.sh
missing
ar-lib
configure
Makefile
Makefile.in
doc
.deps
.libs
labnh.fit
