*~
simput*.tar.gz
*.o
*.a
*.la
*.lo
*.swp
*.swo
*.mod
Makefile
doc
.deps
.libs
pull.err
pull.log
pull_n_push.sh
crab
fsample
csample
labnh
galabs
simputfile
simputlc
simputpsd
simputmerge
simputspec
simputsrc
simputverify

# Autotool stuff:
aclocal.m4
autom4te.cache
config.h
config.log
config.status
libtool
stamp-h1
