# SIMPUT CI jobs
#
# build, test, and deploy SIMPUT

before_script:
  - source /data/system/software/softwarescript.bash && source /data/system/software/softwarescript_Xray.bash
  - export SIMPUT=`pwd`
  - export HEADASNOQUERY=
  - export HEADASPROMPT=/dev/null

stages:
  - build
  - test
  - deploy
  - update

build:
  stage: build
  script:
    - autoreconf --install
    - ./configure --prefix=$SIMPUT
    - make
    - make install
  only:
    - master
    - tags
  artifacts:
    expire_in: 30 min
    paths:
      - ./*

test:
  stage: test
  script:
    - . $HEADAS/headas-init.sh
    - make test
  only:
    - master
 
provide:
  stage: deploy
  script:
    - git push /data/git/simput.git HEAD:master
  only:
    - master

update:
  stage: update
  dependencies:
    - build
  script:
    - make dist
    - rsync -vhu simput-?.?.?*.tar.gz /data/www/sixte_archive/simput/
  only:
    - tags

